@using N_K_School.Models;

@{
    ViewBag.Title = "ShowResult";
}

<h2>ShowResult</h2>

<table>
    <tr>
        <th>Name</th>
        <td>@ViewBag.student.StudentName</td>
    </tr>
    <tr>
        <th>English</th>
        <td>@ViewBag.marks10.English</td>
    </tr>
    <tr>
        <th>Maths</th>
        <td>@ViewBag.marks10.Maths</td>
    </tr>
    <tr>
        <th>Science</th>
        <td>@ViewBag.marks10.Science</td>
    </tr>
    <tr>
        <th>SocialScience</th>
        <td>@ViewBag.marks10.SocialScience</td>
    </tr>
</table>