
@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Err</h2>

<table border="0" class="table">
    @*<tr>
        <th>
            @Html.ActionLink("8th_Students_Marks  First", "Add_8th_Marks", new { std = 0, ExamNo = 1 })
        </th>
        <th>
            @Html.ActionLink("8th_Students_Marks  Second", "Add_8th_Marks", new { std = 0, ExamNo = 2 })
        </th>
        <th>
            @Html.ActionLink("8th_Students_Marks  Final", "Add_8th_Marks", new { std = 0, ExamNo = 3 })
        </th> 
    </tr>
    <tr>
        <th>
            @Html.ActionLink("9th_Students_Marks First", "Add_9th_Marks", new { std = 1, ExamNo = 1 })
        </th>
        <th>
            @Html.ActionLink("9th_Students_Marks Second", "Add_9th_Marks", new { std = 1, ExamNo = 2 })
        </th>
        <th>
            @Html.ActionLink("9th_Students_Marks Final", "Add_9th_Marks", new { std = 1, ExamNo = 3 })
        </th>
    </tr>
    <tr>
        <th>
            @Html.ActionLink("10th_Students_Marks First", "Add_10th_Marks", new { std = 2, ExamNo = 1 })
        </th>
        <th>
            @Html.ActionLink("10th_Students_Marks Second", "Add_10th_Marks", new { std = 2, ExamNo = 2 })
        </th>
        <th>
            @Html.ActionLink("10th_Students_Marks Final", "Add_10th_Marks", new { std = 2, ExamNo = 3 })
        </th>
    </tr>*@
    <tr>
        <th>
            @Html.ActionLink("View_8th_Students_Marks  First", "View_8th_Student_Marks", new { std = 0, ExamNo = 1 })
        </th>
        <th>
            @Html.ActionLink("View_8th_Students_Marks  Second", "View_8th_Student_Marks", new { std = 0, ExamNo = 2 })
        </th>
        <th>
            @Html.ActionLink("View_8th_Students_Marks  Final", "View_8th_Student_Marks", new { std = 0, ExamNo = 3 })
        </th>
    </tr>
    <tr>
        <th>
            @Html.ActionLink("View_9th_Students_Marks  First", "View_9th_Student_Marks", new { std = 1, ExamNo = 1 })
        </th>
        <th>
            @Html.ActionLink("View_9th_Students_Marks  Second", "View_9th_Student_Marks", new { std = 1, ExamNo = 2 })
        </th>
        <th>
            @Html.ActionLink("View_9th_Students_Marks  Final", "View_9th_Student_Marks", new { std = 1, ExamNo = 3 })
        </th>
    </tr>
    <tr>
        <th>
            @Html.ActionLink("View_10th_Students_Marks  First", "View_10th_Student_Marks", new { std = 2, ExamNo = 1 })
        </th>
        <th>
            @Html.ActionLink("View_10th_Students_Marks  Second", "View_10th_Student_Marks", new { std = 2, ExamNo = 2 })
        </th>
        <th>
            @Html.ActionLink("View_10th_Students_Marks  Final", "View_10th_Student_Marks", new { std = 2, ExamNo = 3 })
        </th>
    </tr>
</table>

